-content_for :title do
  About

%h1 About

%p
  This proof-of-concept was produced by 
  %a{href: "https://orcid.org/0000-0001-7618-5230" } David P. Shorthouse 
  using biodiversity occurrence data from 
  %a{href: "http://data.canadensys.net"} Canadensys 
  and academic information from 
  = succeed "." do
    %a{href: "https://orcid.org" } ORCID
  Collector and determiner names were parsed and cleaned using the 
  %a{href: "https://rubygems.org/gems/namae" } Namae gem 
  among other custom regular expressions.
  Collector networks were produced with the 
  = succeed "." do 
    %a{href: "https://rubygems.org/gems/rgl" } Ruby Graph Language gem
  Scientific authority information in scientific names were extracted using the 
  = succeed "." do
    %a{href: "https://rubygems.org/gems/biodiversity" } Biodiversity gem
  The MIT-licensed code is available on 
  = succeed "." do
    %a{href: "https://github.com/dshorthouse/collector" } GitHub

%h2
  Collector Index

%p
  Collectors and determiners of specimens do not have a measure of impact for their activities in the biological sciences comparable to that of their 
  = succeed ", " do
    %a{href: "https://en.wikipedia.org/wiki/H-index"} h-index
  a measure of impact for their publications. Here's an attempt at a Collector's Index. It is easy to calculate (or estimate) and explicitly incorporates the effort required to identify specimens, organize collecting trips with colleagues, and deposit curated specimens in museums. The index rewards the identification of one's own specimens to species (the "naturalist" component) and one's network of fellow collectors along with deposition of specimens in multiple museums (the "sociability" component). All measures are obtainable from digitized specimen labels, but is best computed by aggregators of specimen data. The index is relatively immune to vagaries in the quality of collections data, emphasizing instead aspects of collecting and determining that are not tied to taxonomic, georeferencing, and other measures of accuracy. The hope is that the computation of a Collector's Index will add a new and motivating dimension to the digitization of museum specimens. It is calculated as follows:

%img{src: "/images/index_formula.png", alt: "Collector Index formula" }

%ul
  %li
    %i CollectorIndex
    \= Rounded to the nearest integer
  %li
    %i s
    \= Number of unique species identified
  %li
    %i a
    \= Number of specimens both collected and identified
  %li
    %i n
    \= Total number of specimens collected and/or identified
  %li
    %i r
    \= Number of colleagues you have collected with (include yourself)
  %li
    %i i
    \= Number of museums where your collected specimens are deposited
    %sup
      &dagger;

%p
  %sup &dagger;
  The
  %i 2 &lowast; i
  boost is not included if your collected specimens have not been deposited in a museum.