!!! 5
%html
  %head
    %meta{charset: "UTF-8" }/
    %title
      = yield_content :title
    %link{href: '/main.css', rel: 'stylesheet', type: 'text/css' }
    = yield_content :stylesheets
    %script{src: '/javascript/jquery-1.11.0.min.js', type: 'text/javascript' }
    = yield_content :scripts
  %body
    %nav
      %ul
        %li
          %a{ href: '/' } Home
        %li
          %a{ href: '/roster' } Roster
        %li
          %a{ href: '/about' } About
    %header
      %a{ href: '/', id: 'logo' }
        %img{ src: '/images/logo.png', title: 'Collector', alt: 'Collector' }
      %h1 Collector

      -# #account
        - if authorized?
          = succeed " / " do
            %a{ href: "/orcid_profile" } #{@orcid["name"]}
          %a{ href: "/logout" } Logout
        - else
          %a{ href: "/auth/orcid" } Log in with ORCID

      %p.byline Search and explore collectors and determiners of biological specimens in Canada.
    %section.main-content
      = yield